<!-- 
	!!!!!!!!!!!!!!!!!!!! 
	I am the template for the ssPost directive.
	I display a post and any replies.
	!!!!!!!!!!!!!!!!!!!! 
-->

<!-- 
	!!!!!!!!!!!!!!!!!!!! 
	The parent post
	!!!!!!!!!!!!!!!!!!!! 
-->
<div class="row post-content">
	<div class="col-xs-1"><img ng-src="img/users/{{post.user.avatar}}" alt=""></div>
	<div class="col-xs-11">
		<div class="pull-right">
			<img src="img/post_reply.png" ng-click="toggleReply()" class="post-actions" alt="Reply">
			<img src="img/post_like.png" ng-click="likePost()" class="post-actions" alt="Like">
			<span class="post-time">{{post.time}}</span>
		</div>
		<div class="poster push-left">{{post.user.full_name}}</div>
		<div ng-bind-html="post.post" class="push-left"></div>
	</div>
</div>

<!-- 
	!!!!!!!!!!!!!!!!!!!! 
	The expand / collapse function.
	I only display if there are associated posts.
	!!!!!!!!!!!!!!!!!!!! 
-->
<div class="row expand" ng-if="post.response.length">
	<div class="col-xs-11 col-xs-offset-1">
		<div class="push-left" ng-if="!postAttrs.expanded" ng-click="toggleReplies()">
			Expand <img src="img/post_arrow_expand.png" alt="Expand">
		</div>
		<div class="push-left" ng-if="postAttrs.expanded" ng-click="toggleReplies()">
			Collapse <img src="img/post_arrow_collapse.png" alt="Collapse">
		</div>
	</div>
</div>

<!-- 
	!!!!!!!!!!!!!!!!!!!! 
	I display replies associated with the parent.
	!!!!!!!!!!!!!!!!!!!! 
-->
<div ng-if="postAttrs.expanded" class="reply-container" ng-repeat="reply in post.replies">
	<div class="row reply post-content">
		<div class="col-xs-1"><img ng-src="img/users/{{reply.user.avatar}}" alt=""></div>
		<div class="col-xs-11">
			<div class="pull-right">
				<img src="img/post_reply.png" ng-click="toggleReply()" class="post-actions" alt="Reply">
				<img src="img/post_like.png" ng-click="likePost()" class="post-actions" alt="Like">
				<span class="post-time">{{reply.time}}</span>
			</div>
			<div class="poster push-left">{{reply.user.full_name}}</div>
			<div ng-bind-html="reply.post" class="push-left"></div>
		</div>
	</div>
</div>

<!-- 
	!!!!!!!!!!!!!!!!!!!! 
	I am the reply input. 
	I display a text input for responding to a parent post.
	!!!!!!!!!!!!!!!!!!!! 
-->
<div class="row reply-input" ng-if="postAttrs.showReply">
	<input type="text" class="form-control reply-form-input" placeholder="Reply..." ng-model="replyPost.post" ng-keypress="($event.which === 13)?saveReply(post):0">
</div>

<!-- 
	!!!!!!!!!!!!!!!!!!!! 
	The post image
	!!!!!!!!!!!!!!!!!!!! 
-->
<div class="row photo" ng-if="post.image">
	<div class="col-xs-12">
		<img ng-src="img/photos/{{post.image}}" class="img-responsive" ng-click="enlargePhoto(post)">
	</div>
</div>